<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <% Role.all.each do |role| %>
      <% if role.role!="SuperAdmin"%>
       <%= radio_button_tag "user[role_ids][]", role.id, @user.roles.include?(role), :checked => role.id == 2 %>
       <%= role.role %>
      <%end%>
    <% end %>
    <br />
    <p><%= f.label :tc %><br />
    <%= f.text_field :tc %></p>
    <p><%= f.label :phone %><br />
    <%= f.text_field :phone %></p>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
    <br />
    <%= f.label :name %><br />
    <%= f.text_field :name %>

  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
